# Technical Assignment

## 1. Reading the data from the PDF

* Given two PDF's: pinnacle_inv_2020000032 and pinnacle_inv_3300004000
* Read these two PDF's using EasyOCR and PyTesseract only

- Normalize the PDF's into images and then extract the contents using PyTesseract.

Download PyTesseract for windows through this link: https://github.com/UB-Mannheim/tesseract/wiki or https://pypi.org/project/pytesseract/

In [3]:
pip install pytesseract

Collecting pytesseract
  Downloading pytesseract-0.3.10-py3-none-any.whl (14 kB)
Collecting packaging>=21.3
  Using cached packaging-21.3-py3-none-any.whl (40 kB)
Requirement already satisfied: Pillow>=8.0.0 in c:\users\ananya\anaconda3\lib\site-packages (from pytesseract) (8.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ananya\anaconda3\lib\site-packages (from packaging>=21.3->pytesseract) (2.4.7)
Installing collected packages: packaging, pytesseract
  Attempting uninstall: packaging
    Found existing installation: packaging 20.9
    Uninstalling packaging-20.9:
Note: you may need to restart the kernel to use updated packages.      Successfully uninstalled packaging-20.9
Successfully installed packaging-21.3 pytesseract-0.3.10

In [30]:
!pip install Pillow

Requirement already satisfied: Pillow in c:\users\ananya\anaconda3\lib\site-packages (8.2.0)

In [1]:
# Import Pytesseract library which converts image to string
import pytesseract
from pytesseract import image_to_string

In [2]:
pytesseract.pytesseract.tesseract_cmd=r"C:\Program Files\Tesseract-OCR\tesseract.exe"

In [3]:
from PIL import Image

In [4]:
# To convert PDF into image

!pip install pdf2image

Requirement already satisfied: pdf2image in c:\users\ananya\anaconda3\lib\site-packages (1.16.0)
Requirement already satisfied: pillow in c:\users\ananya\anaconda3\lib\site-packages (from pdf2image) (8.2.0)

In [4]:
# Import library and methods which converts PDF to image
from pdf2image import convert_from_path

In [5]:
# Write the function for converting PDF to Image

def convert_pdf_to_img(pdf_file):
    return convert_from_path(pdf_file ,500,poppler_path=r'C:\Program Files\poppler-0.68.0\bin') #The convert_from_path method directly converts the PDF to image

In [6]:
# Write the function for converting Image into text file

def convert_image_to_text(file):
    text = image_to_string(file)
    return text

In [7]:
# Combining the above two functions into one function:

def get_text_from_pdf(pdf_file):
    images = convert_pdf_to_img(pdf_file)  #Pdf file is the input and the image output is stored in images variable
    
    final_text = ""    # Create an empty variable which will hold the text extracted from the image
    
    for pg, img in enumerate(images): 
        final_text += convert_image_to_text(img)   # final text keeps on appending the text extracted from image into the string
    
    return final_text

In [8]:
pdf1 = "inv_2020000032.pdf"
pdf2 = "inv_3300004000.pdf"

In [9]:
get_text_from_pdf(pdf1)

'AMAZON COM INVOICE\n440 Terry Avenue\nDATE INVOICE NO.\nNorth Seattle 03/18/20 5081189\nWA 98109 USA\nBILL TO SHIP TO\nPINNACLE SOLUTIONS PINNACLE SOLUTIONS 21747\n21747 BETRAM RD BETRAM RD\nSAN JOSE 95120 SAN JOSE 95120\nAccounts Payable M/S\nP.O. Number Terms Ship Date Due Date\n2020000032 Net 60 03/28/20 04/18/20\nltem Description Quantity Price Each Amount\nA8025690 Premium A4 (8.3"x 11.7") Printer Paper (100 Sheets 500 9.95 4,975.00\nSubtotal USD4,975.00\nSales Tax $0.00\n\nTotal\n\nUSD 4,975.00\n\n'

In [10]:
get_text_from_pdf(pdf2)

'=air ATOMY LIVING IF COMPANY\naan ae ee ea RNY”\n\nBill To: Invoice,\nPINNACLE SOLUTIONS Invoice : 0380\n\n21747 BERTRAM ROAD Date: 03/01/2020\nSAN JOSE 95120 P. Order #: 3300004000\nCA Terms: 30 days\n\nAttn) :Mr. Smith\n\nD Tal )\nBeing supply of skilled labor, tools and equipments for grease trap desludging by means of\n\nvacuum desludging tanker and sewage effluent sampling (sewerage treatment service)\n\nfor the month of Jan. 2020. USD 10,300.00\n\n(Our D/O No. 3046)\n\nSub total * USD 10,300.00\nee 121i el MD] DE (Ooi 121 010\n—RM_10,300.00__\n\nUSD TEN Thousand Three Hundred And 0 Cents.\n\nAuthorized Signature\n\n=\nMail Add.: 885, Central Parkway 78323 Texas\nEmail: inquiry@if.com\n'

## To extract the values from the keywords of our choice from PDF :pinnacle_inv_3300004000.pdf

* Try to extract the values for the PDF 2 (pinnacle_inv_3300004000.pdf)
* When the  required keyword and it's value is in the same line, we can iterate through each line of the list containing the text from the PDF

In [12]:
ft = get_text_from_pdf(pdf2)

In [18]:
txt = ft.split("\n")
print(txt)

['=air ATOMY LIVING IF COMPANY', 'aan ae ee ea RNY”', '', 'Bill To: Invoice,', 'PINNACLE SOLUTIONS Invoice : 0380', '', '21747 BERTRAM ROAD Date: 03/01/2020', 'SAN JOSE 95120 P. Order #: 3300004000', 'CA Terms: 30 days', '', 'Attn) :Mr. Smith', '', 'D Tal )', 'Being supply of skilled labor, tools and equipments for grease trap desludging by means of', '', 'vacuum desludging tanker and sewage effluent sampling (sewerage treatment service)', '', 'for the month of Jan. 2020. USD 10,300.00', '', '(Our D/O No. 3046)', '', 'Sub total * USD 10,300.00', 'ee 121i el MD] DE (Ooi 121 010', '—RM_10,300.00__', '', 'USD TEN Thousand Three Hundred And 0 Cents.', '', 'Authorized Signature', '', '=', 'Mail Add.: 885, Central Parkway 78323 Texas', 'Email: inquiry@if.com', '']

### To get the InvoiceNumber, Date and P. Order Number

In [66]:
invoice_no =""
invoice_date = ""
po_order_no = ""
for i in range(len(txt)):
    if txt[i].find("Invoice ")!= -1:
        invoice_no = txt[i].split(': ')[1]
    if txt[i].find("Date")!= -1:
        invoice_date = txt[i].split(': ')[1]
    if txt[i].find("P. Order #")!= -1:
        po_order_no = txt[i].split(': ')[1]
        
#print(invoice_no+","+invoice_date)
print("Invoice Number:" + invoice_no + ", Inoice Date: " + invoice_date+", P. Order: "+ po_order_no )

Invoice Number:0380, Inoice Date: 03/01/2020, P. Order: 3300004000

## To extract the values from the keywords of our choice from PDF :pinnacle_inv_2020000032.pdf

Since the data is stored in tabular format, we can extract the keywords and it's value using regular expresssion

In [20]:
import cv2
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import csv
import nltk
import re
from nltk.tokenize import word_tokenize
from nltk.corpus import wordnet

In [12]:
import re

In [13]:
pdf_file = "pinnacle_inv_2020000032.pdf"

In [14]:
# Converting PDF to image and storing it in the variable image
image = convert_pdf_to_img(pdf_file)

In [15]:
final_text = ""
for pg, img in enumerate(image): 
        final_text += convert_image_to_text(img)

This process has been covered on the first section, but just to present the data in a proper format, I have written the code again

In [16]:
print(final_text)

AMAZON COM INVOICE
440 Terry Avenue
DATE INVOICE NO.
North Seattle 03/18/20 5081189
WA 98109 USA
BILL TO SHIP TO
PINNACLE SOLUTIONS PINNACLE SOLUTIONS 21747
21747 BETRAM RD BETRAM RD
SAN JOSE 95120 SAN JOSE 95120
Accounts Payable M/S
P.O. Number Terms Ship Date Due Date
2020000032 Net 60 03/28/20 04/18/20
ltem Description Quantity Price Each Amount
A8025690 Premium A4 (8.3"x 11.7") Printer Paper (100 Sheets 500 9.95 4,975.00
Subtotal USD4,975.00
Sales Tax $0.00

Total

USD 4,975.00

### To get the invoice date

* The invoice date will always be the earlierst among all the dates, considering the bill is paid on time.

In [17]:
match=re.findall(r'\d+[/.-]\d+[/.-]\d+', final_text)

match.sort()

In [18]:
match

['03/18/20', '03/28/20', '04/18/20']

In [19]:
Invoice_date = match[0]
print("Invoice Date: "+Invoice_date)

Invoice Date: 03/18/20

In [21]:
nltk.download('punkt',quiet=True)
nltk.download('wordnet',quiet=True)

True

### Extract the title

In [22]:
#lets try to extract title
sent_tokens=nltk.sent_tokenize(final_text)
#print(sent_tokens)
sent_tokens[0].splitlines()[0]

'AMAZON COM INVOICE'

### Extract the invoice number

Get all the numbers from the pdf text and store it in a list, which will later be used to extract the values

In [61]:
mat = re.findall(r'[0-9]{4,12}', final_text)
print(mat)

['5081189', '98109', '21747', '21747', '95120', '95120', '2020000032', '8025690']

In [58]:
txt = final_text.split("\n")

print(txt)

['AMAZON COM INVOICE', '440 Terry Avenue', 'DATE INVOICE NO.', 'North Seattle 03/18/20 5081189', 'WA 98109 USA', 'BILL TO SHIP TO', 'PINNACLE SOLUTIONS PINNACLE SOLUTIONS 21747', '21747 BETRAM RD BETRAM RD', 'SAN JOSE 95120 SAN JOSE 95120', 'Accounts Payable M/S', 'P.O. Number Terms Ship Date Due Date', '2020000032 Net 60 03/28/20 04/18/20', 'ltem Description Quantity Price Each Amount', 'A8025690 Premium A4 (8.3"x 11.7") Printer Paper (100 Sheets 500 9.95 4,975.00', 'Subtotal USD4,975.00', 'Sales Tax $0.00', '', 'Total', '', 'USD 4,975.00', '', '']

In [75]:
Invoive_Number=""
for i in range(len(txt)):
    if txt[i].find("INVOICE NO.")!= -1:
        word = txt[i+1].split(" ")
        
        for j in word:
            if j in mat:
                Invoive_Number = j

print("Invoive Number: " + Invoive_Number)

Invoive Number: 5081189

### Extract the P. O. Number

In [74]:
po_number = ""
for i in range(len(txt)):
    if txt[i].find("P.O. Number")!= -1:
        word = txt[i+1].split(" ")
        
        for j in word:
            if j in mat:
                po_number = j

print("P. O. Number: " + po_number)

P. O. Number: 2020000032

Let's find all the keywords in this document

In [24]:
text = final_text

In [25]:
print(text)

AMAZON COM INVOICE
440 Terry Avenue
DATE INVOICE NO.
North Seattle 03/18/20 5081189
WA 98109 USA
BILL TO SHIP TO
PINNACLE SOLUTIONS PINNACLE SOLUTIONS 21747
21747 BETRAM RD BETRAM RD
SAN JOSE 95120 SAN JOSE 95120
Accounts Payable M/S
P.O. Number Terms Ship Date Due Date
2020000032 Net 60 03/28/20 04/18/20
ltem Description Quantity Price Each Amount
A8025690 Premium A4 (8.3"x 11.7") Printer Paper (100 Sheets 500 9.95 4,975.00
Subtotal USD4,975.00
Sales Tax $0.00

Total

USD 4,975.00

In [26]:
keywords = re.findall(r'[a-zA-Z]\w+',text)
len(keywords)

55

In [27]:
df = pd.DataFrame(list(set(keywords)),columns=['keywords'])

In [28]:
df.head()

  keywords
0       NO
1       RD
2     SHIP
3   AMAZON
4     ltem

In [29]:
def weightage(word,text,number_of_documents=1):
    word_list = re.findall(word,text)
    number_of_times_word_appeared =len(word_list)
    tf = number_of_times_word_appeared/float(len(text))
    idf = np.log((number_of_documents)/float(number_of_times_word_appeared))
    tf_idf = tf*idf
    return number_of_times_word_appeared,tf,idf ,tf_idf

In [30]:
df['number_of_times_word_appeared'] = df['keywords'].apply(lambda x: weightage(x,text)[0])
df['tf'] = df['keywords'].apply(lambda x: weightage(x,text)[1])
df['idf'] = df['keywords'].apply(lambda x: weightage(x,text)[2])
df['tf_idf'] = df['keywords'].apply(lambda x: weightage(x,text)[3])

In [31]:
df = df.sort_values('tf_idf',ascending=True)
df.to_csv('Keywords.csv')
df.head()

     keywords  number_of_times_word_appeared        tf       idf    tf_idf
1          RD                              2  0.004098 -0.693147 -0.002841
43  SOLUTIONS                              2  0.004098 -0.693147 -0.002841
20    INVOICE                              2  0.004098 -0.693147 -0.002841
40     BETRAM                              2  0.004098 -0.693147 -0.002841
38   PINNACLE                              2  0.004098 -0.693147 -0.002841

The above keyword and value extraction method is used only if we know the exact format of the pdf that we are parsing, and cannot be used dynamically.

To make an dynamic invoice parser, we need a CNN model which detects if the data in the PDF is in tabular format and if it is, save the text according to the table values, which makes it easier to extract the keyword and it's value. More can be read here: https://medium.com/analytics-vidhya/invoice-information-extraction-using-ocr-and-deep-learning-b79464f54d69