# Technical Assignment

## 1. Reading the data from the PDF

* Given two PDF's: pinnacle_inv_2020000032 and pinnacle_inv_3300004000
* Read these two PDF's using EasyOCR and PyTesseract only

* Normalize the PDF's into images and then extract the contents using PyTesseract.

In [5]:
import tabula as tb

In [2]:
import pandas as pd

In [3]:
file = "inv_2020000032.pdf"

In [6]:
table = tb.read_pdf(file)

'pages' argument isn't specified.Will extract only from page 1 by default.

In [7]:
csv = tb.convert_into(file, 'pdf_convet.csv')

'pages' argument isn't specified.Will extract only from page 1 by default.

In [68]:
df = pd.concat(table)

In [69]:
df

,Unnamed: 0,DATE,INVOICE NO.,P.O. Number,Terms,Ship Date,Due Date,Item,Description,Quantity,Price Each,Amount
0,North Seattle,03/18/20,5081189.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,2.020000e+09,Net 60,03/28/20,04/18/20,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48025690.0,"Premium A4 (8.3""x 11.7"") Printer Paper (100 Sh...",500.0,9.95,"4,975.00"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Subtotal,"USD4,975.00"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sales Tax,$0.00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,"USD 4,975.00"

In [70]:
colm = ['Unnamed: 0', 'Description', 'Terms']
df = df.drop(colm, axis = 1)
df

,DATE,INVOICE NO.,P.O. Number,Ship Date,Due Date,Item,Quantity,Price Each,Amount
0,03/18/20,5081189.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,2.020000e+09,03/28/20,04/18/20,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,48025690.0,500.0,9.95,"4,975.00"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Subtotal,"USD4,975.00"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sales Tax,$0.00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,"USD 4,975.00"

In [78]:
df = df.fillna(method='ffill', axis=0)

In [79]:
df.iloc[-1]

DATE               03/18/20
INVOICE NO.       5081189.0
P.O. Number    2020000032.0
Ship Date          03/28/20
Due Date           04/18/20
Item             48025690.0
Quantity              500.0
Price Each            Total
Amount         USD 4,975.00
Name: 3, dtype: object